/*Utils*/
.u-noBorder {
  border: 0; }

.u-noPadding {
  padding: 0; }

.u-pullRight {
  float: right; }

.u-marginTop10em {
  margin-top: 10em; }

.u-displayNone {
  display: none; }

.u-fixed {
  position: fixed !important; }

.u-boxShadowBottomThinLighter {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15); }

.u-zIndexTopest {
  z-index: 1000; }

.u-zIndexTop {
  z-index: 800; }

.u-zIndexMiddle {
  z-index: 600; }

.u-zIndexBottom {
  z-index: 400; }

.u-zIndexLow {
  z-index: 200; }

.u-zIndexLowest {
  z-index: 1; }

.u-maxWidth1000 {
  max-width: 1000px !important; }

.u-maxWidth700 {
  max-width: 700px !important; }

.u-marginAuto {
  margin-left: auto !important;
  margin-right: auto !important; }

.u-floatLeft {
  float: left; }

.u-floatRight {
  float: right; }

.u-inlineBlock {
  display: inline-block; }

/*Mixins*/

/// 내부 float을 해제하는 헬퍼
/// @author Nicolas Gallagher
/// @link http://nicolasgallagher.com/micro-clearfix-hack/ Micro Clearfix
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
