@import url(./_grid.css);
@import url(./_utils.css);
/*
 * default style definition
 */
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.5em;
  font-family: "Malgun Gothic", "Lucida Grande", Tahoma, Verdana, AppleGothic, UnDotum, sans-serif; }

form {
  margin: 0;
  padding: 0; }

hr {
  display: none; }

h1 {
  font-size: 2rem; }

p, div, th, td, select, input {
  color: #333; }

a:link, a:visited {
  color: #666;
  text-decoration: none; }

a:active, a:hover {
  color: #000;
  text-decoration: none; }

a img,
input.type-image {
  border: 0 none; }

input.type-text,
textarea {
  border: 1px solid #ddd;
  background: #fff;
  padding: 1px; }

input.type-text:hover,
input.type-text:focus,
textarea:hover,
textarea:focus,
select:hover,
select:active {
  background-color: #ffd; }

input, select, textarea {
  vertical-align: middle;
  font-size: 1em;
  color: #333; }

button {
  cursor: pointer;
  vertical-align: middle; }

ol, ul {
  padding: 0;
  list-style: none;
  list-style-image: none; }
