@charset "utf-8";
@import "./_variables.scss";
@import "./_grid.css";
@import "./_utils.scss";
/*
 * default style definition
 */
body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 1.5em;
	font-family: "Malgun Gothic", "Lucida Grande", Tahoma, Verdana, AppleGothic, UnDotum, sans-serif;
}
form {
	margin: 0;
	padding: 0;
}
hr {
	display: none;
}
h1 {
	font-size: 2rem;
}
p, div, th, td, select, input {
	color: $gray_black;
}
a:link, a:visited {
	color: $gray;
	text-decoration: none;
}
a:active, a:hover {
	color: #000;
	text-decoration: none;
}
a img,
input.type-image {
	border: 0 none;
}
input.type-text,
textarea {
	border: 1px solid #ddd;
	background: #fff;
	padding: 1px;
}
input, select, textarea {
	vertical-align: middle;
	font-size: 1em;
	color: $gray_black;
}
button {
	cursor: pointer;
	vertical-align: middle;
}
.button {
	&__normal {
		font-size: 1.3em;
	  background: none;
	  border-radius: .5em;
	  border: 0;
	  padding: .4em .5em;
		color: $gray;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.35);
		&:hover {
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35), 0 0 1px rgba(0, 0, 0, 0.65);
		}
	}
}
ol, ul {
  padding: 0;
  list-style: none;
  list-style-image: none;
}
